html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.site-container {
    max-width: 1200px;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #5b5b5b;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #222222;
}

h1 {
    font-size: 2em;

}

h2,
h3 {
    font-size: 2.8em;
}

p,
ul,
ol {
    margin-top: 0;
    line-height: 180%;
}

a {
    color: #0000ff;
    font-weight: bold;
}

a:hover {
    color: #45698e;
}

img {
    max-width: 100%;
    height: auto;
}

.group::after {
    content: '';
    clear: both;
    display: block;
}

#wrapper {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #76674e;
    padding: 0 10px 0 10px;
    margin: 0 auto;
}

/* Header */

#header {
    margin: 0 auto;
}

/* Logo */

#logo {
    padding-top: 10px;
}


/* Menu */

.menu {
    margin: 0 auto;
    padding: 0;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
}

.menu a {
    display: block;
    line-height: 50px;
    margin-right: 1px;
    margin-bottom: 1px;
    padding: 0 20px 0 20px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #45698e;
    border: none;
    background-color: #d4cec4;
}

.menu a:hover,
.menu .current_page_item a {
    background-color: #45698e;
    text-decoration: none;
    color: #d4cec4;
}

@media all and (min-width: 600px) {
    .menu li {
        display: inline-block;
        width: 50%;
    }
    .lefthalf {
        float: left;
        width: 49%;
    }
    .righthalf {
        float: right;
        width: 49%;
    }
}
@media all and (min-width: 850px) {
    .menu li {
        width: calc(100% / 3);
    }
}
@media all and (min-width: 1100px) {
    .menu li {
        width: calc(100% / 6);
    }
}

/* Banner */

.banner {
    margin: 0 auto;
}

.banner img {
    width: 100%;
    height: auto;
}

/* Page */

#page {
    margin: 0 auto;
    padding: 30px 0 0 0;
}

/* Content */

.post {
    overflow: hidden;
    margin-bottom: 40px;
    padding: 40px;
    border: 10px solid #d4cec4;
    background-color: white;
}

.post .title {
    padding: 0 0 10px 0;
    letter-spacing: -1px;
    color: #76674e;
}

@media (min-width: 950px) {
    #content {
        float: left;
        margin-right: 1.5em;
        width: calc(100% / 3 * 2);
    }

    #sidebar {
        float: right;
        width: calc(100% / 3 - 1.5em);
    }
}

/* Sidebar */

#sidebar section {
    padding: 40px;
    background-color: #d4cec4;
    margin-bottom: 40px;
}

#sidebar h3 {
    padding: 0 0 20px 0;
    letter-spacing: -0.5px;
    font-size: 1.8em;
    color: #45698e;
}

#sidebar p {
    text-align: justify;
}

/* Footer */

#footer {
    margin: auto;
    padding-bottom: 10px;
}

/* Hides Tooltip Template */

.tooltip_templates {
    display: none;
}

#getting-started {
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -20px;
}

input[type=submit] {
    display: block;
    line-height: 50px;
    margin-top: 10px;
    width: 100%;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    border: none;
    background-color: #45698e;
    color: #d4cec4;
}

input[type="text"],
input[type="email"],
textarea,
#message {
    line-height: 50px;
    padding: 5px;
    width: 100%;
    border: 2px solid #45698e;
}

.highlight {
    border: 10px solid white;
}

.response {
    margin-top: 10px;
}


input,
select,
textarea {
    border: 3px solid black;
}

#transmit {
    display: block;
    line-height: 50px;
    margin-top: 10px;
    width: 100%;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    border: none;
    background-color: #45698e;
    color: #d4cec4;
}

.dish {
    padding-top: 10px;
}

input,
textarea {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

.alignleft {
    float: left;
    margin: 0 15px 15px 0;
}

.alignright {
    float: right;
    margin: 0 0 15px 15px;
}
